body {
  background-color: #f3f2da;
  color: #045762;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #ea97ad;
  border-width: 5px;
  width: 11%;
}

h1{
  color: #4e8d7c;
}

h3{
  color: #4e8d7c;
}

a{
  color: #ea97ad;
}

img{
  height: 250px;
}
