/* GOOGLE FONTS PARA INCLUIR FUENTES VIA INTERNET EN LA MISMA PAGINA WEB,
DE ESTA FORMA INCLUSO SI NO TIENES LA FUENTE INSTALADA, SE RENDERIZA VIA WEB */

/*font-size 16px = 100% = 1em, porcentajes y em se heredan, es decir,
se aplican sobre el valor del contenedor en el que esté, por ejemplo, si
aplico 2em al body y en H1 tenía ya 2em, el valor final de H1 sería algo
así como 4em, para evitar esto podríamos usar rem en vez de em, sería em
sobre el valor root, asi que obviaría los cambios en contenedores padres */

body {
  background-color: #CAF7E3;
  color: #363636;
  text-align: center;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
  font-weight: 400;
}



.intro {
  width: 100%;
  margin: 0 auto 0 auto;
}

.mid-container {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.footer-container {
  width: 100%;
  margin: 0 auto 0 auto;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #E89A9A;
  border-width: 5px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  color: #4e8d7c;
  font-family: 'Marck Script', cursive;
  font-size: 4rem;
}

h3{
  color: #4e8d7c;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 0 auto 50px auto;
  text-align: center;
  width: auto;
}

.h3-juntos {
  display: inline-block;
  margin: 0 15% 50px 9%;
}

a{
  color: #E89A9A;
  font-weight: bold;
  text-decoration: none;
}

ul {
  display: inline-block;
  text-align: left;
  margin: 0 auto 0 auto;
}

ul li::marker{
  color: #E89A9A;
}

ol {
  display: inline-block;
  width: auto;
  text-align: left;
  margin: 0 auto 0 auto;
}

ol li::marker{
  color: #E89A9A;
  font-weight: bold;
}

table {
  display: inline-block;
  margin: 0 auto 0 auto;
}

td {
  text-align: left;
}

/* Esto es un ejemplo de como usar una regla css
específica para una clase previamente establecida,
un mismo elemento puede tener varias clases */

.logo {
  height: 250px;
  border-radius: 50%;
}

.nube {
  width: 35%;
  filter: hue-rotate(65deg);
  display: none;
}

/* Existe otro elemento denominado #id, que es en
esencia lo mismo, la diferencia es que solo puedes usar
id especifico y si una misma clase, por tanto clase se usa
para agrupar elementos que se van a comportar igual e id
es para elementos que se van a comportar diferentes a todos */

.nube.nube-izq {
  margin: 70px 0 auto 50px;
  float: right;
}

.nube.nube-der {
  margin: 70px 50px auto 0;
  float: left;
}

.star {
  width: 1rem;
  display: inline-block;
}

/* hover es para especificar el comportamiento de un elemento
cuando pasas el raton por encima sin clickar */

.link:hover {
  opacity: 0.5;
}

.footer-link:hover{
  opacity: 0.5;
}

span {
  color: #4e8d7c;
  font-family: 'Marck Script', cursive;
  font-size: 2.6rem;
  text-decoration: underline;
}

.btn {
  background-color:#363636;
	border-radius:28px;
	border:1px solid #363636;
	display:inline-block;
	cursor:pointer;
	color:#e89a9a;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e89a9a;
  margin-bottom: 30px;
}

.btn:hover{
  opacity: 0.5;
}

.btn:active {
	position:relative;
	top:1px;
}


playbook {
  display: inline-block; /* inline que se comportan como bloques */
  display: block; /* elementos en bloque, unos al lado de otros, les puedes
  cambiar la anchura pero no ocupan toda la anchura disponible */
  display: inline; /* elementos en una misma linea pero a los que no les puedes
  cambiar la anchura */
}
