
.sectionNavbar {
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: #6155A6;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-Light 300;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
}

.d-flex {
  padding: 0.5rem 0;
}

.section1 {
  text-align: center;
  padding: 7% 15%;
  background-color: #FFE6E6;
  color: #6155A6;
}

.section2 {
  text-align: center;
  padding: 7% 15%;
  background-color: #6155A6;
  color: #FFE6E6;
}

body {
  font-family: Montserrat;
}

h1 {
  font-family: Montserrat-Black 900;
  margin: 3%;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: Montserrat-Bold 700;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: Montserrat-Bold 700;
  font-size: 1.5rem;
}

.downloadButton {
  margin: 5% 3% 5% 0;
}

.noBorder {
  border-width: 0px;
  text-align: left;
  width: 85%;
  margin: auto;
}

.platinum {
  color: #00C4C1;
  padding: 1rem;
  font-size: 3rem;
}

.gold {
  color: gold;
  padding: 1rem;
  font-size: 3rem;
}
