body {
  background-color: #363636;
  font-family: Poppins;
  font-weight: 100;
  font-size: 1.2rem;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  color: #C4EBCF;
}

h3 {
  font-weight: 300;
  font-size: 3rem;
  color: #F5BFBD;
}

.container {
  text-align: center;
  padding: 5% 15%;
}

.dice {
  width: 50%;
  margin: 10px 15px;
}

.button{
  margin: 50px 15px;
}

.logo {
  width: 30%;
}

table {
}

i {
  margin: 10px 15px;
}

footer {
  text-align: center;
  display: inline-block;
  color: #A7D6D0;
}
